.about-page{
    min-height: 80vh;
    padding: 50px 0;
    h1{
        margin-left: 10%;
        text-transform: uppercase;
    }
    .content-container{
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            margin-top: 50px;
            width: 100%;
        }
        span{
            font-weight: 600;
            color: #0095DB
        }
    }
}

@media (min-width: 800px) {
    .about-page{
        .content-container{
            flex-direction: row;
            // justify-content: space-between;
            img{
                width: 600px;
            }
            .about-text{
                width: 400px;
            }
        }
    }
    
}