.custom-input {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 50px;
    input {
        font-family: 'josefin sans';
        width: 100%;
        font-size: 1.5rem;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        color: #65728F;
        border-radius: 5px;
        padding: 12px 10px;
        outline: none;
        
        &:focus, &:valid{
            border-color: #4C4EF999;

            ~label{
                color: #4C4EF9;
                font-weight: 600;
                transform: translatey(-50px);
                font-size: .9rem;
            }
        }
        &:focus{
            box-shadow: 0px 1px 4px #4c4ff982;
            border-color: #4C4EF9;
            }
        // &:valid{
        //     border-color: #4C4EF9;

        //     ~label{
        //         color: #4C4EF9;
        //         font-weight: 600;
        //         transform: translatey(-50px);
        //         font-size: .9rem;
        //     }
        // }
    }
    label{
        cursor: text;
        text-transform: capitalize;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        transition: all .3s ease;
    }
}