.comment{
    display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.283);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
    padding: 10px 20px;
    .user-name{
        display: flex;
        align-items: center;
        // margin-bottom: 5px;
        img{
            width: 30px;
            margin-right: 5px;
        }
        h3{
            color: #4C4EF9;
            font-size: 1rem;
            text-transform: capitalize;
        }
    }
    p{
        margin-left: 35px;
        font-size: 1rem;
        line-height: 1.3;
    }
}