.sub-heading{
    font-family: 'Josefin sans';
    display: inline-block;
    position: relative;
    h2{
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline-block;
        z-index: 1;
        color: black
    }
    .highlight{
        z-index: -1;
        position: absolute;
        border-radius: 1px;
        left: -5%;
        bottom: 5px;
        width: 110%;
        height: 7px;
        background-color: #457eff7d;
    }
}