.form-and-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // outline: 2px solid tomato;
    align-items: center;
}

@media (min-width: 800px) {
    .form-comments-container{
        display: flex;
        justify-content: center;
        .form-and-comments{
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .form-and-comments.reverse{
            .contact-form{
                order: 2;
            }
        }
    }
}